# Create a Plone site. This is a "run" script.

from Products.CMFPlone.factory import _DEFAULT_PROFILE
from Products.CMFPlone.factory import addPloneSite

import sys
import transaction


admin_username = 'admin'
site_id = "{{ plone_config.plone_site_id|default(plone_site_id) }}"
language = "{{ plone_config.plone_default_language|default(plone_default_language) }}"
default_extension_profiles = (
{% if plone_config.plone_version|default(plone_version) >= '5.0' %}
    'plone.app.caching:default',
    'plonetheme.barceloneta:default',
{% else %}
    'plonetheme.classic:default',
    'plonetheme.sunburst:default',
{% endif %}


{% if plone_config.plone_extension_profiles|default(plone_extension_profiles) %}
{% for addon in plone_config.plone_extension_profiles|default(plone_extension_profiles) %}
    '{{ addon }}',
{% endfor %}
{% endif %}
)

if site_id in app.objectIds():
    print "A Plone site already exists"
    sys.exit(1)

addPloneSite(
    app, site_id,
    title='',
    profile_id=_DEFAULT_PROFILE,
    extension_ids=default_extension_profiles,
    setup_content=True,
    default_language=language,
    )
transaction.commit()

