[program:{{ supervisor_instance_name or '' }}zeoserver]
command={{ plone_target_path }}/{{ plone_instance_name }}/bin/zeoserver fg
directory={{ plone_target_path }}/{{ plone_instance_name }}
redirect_stderr={{ plone_redirect_stderr }}
autostart={{ plone_autostart }}
autorestart={{ plone_autorestart }}
user=plone_daemon
startsecs={{ plone_startsecs }}
stopwaitsecs={{ plone_stopwaitsecs }}
{% if plone_task_env_vars|length > 0 %}
environment={% for name, value in task_env_vars.iteritems() %}{{ name }}="{{ value }}"{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}

{% for client in range(1, plone_client_count+1) %}
[program:{{ supervisor_instance_name or '' }}zeoclient{{ client }}]
command={{ plone_target_path }}/{{ plone_instance_name }}/bin/client{{ client }} console
directory={{ plone_target_path }}/{{ plone_instance_name }}
redirect_stderr={{ plone_redirect_stderr }}
autostart={{ plone_autostart }}
autorestart={{ plone_autorestart }}
user=plone_daemon
startsecs={{ plone_startsecs }}
stopwaitsecs={{ plone_stopwaitsecs }}
{% if plone_task_env_vars|length > 0 %}
environment={% for name, value in task_env_vars.iteritems() %}{{ name }}="{{ value }}"{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}

{% endfor %}

{% if plone_client_max_memory != 0 %}
[eventlistener:{{ supervisor_instance_name or '' }}memmon]
command=memmon{% for client in range(1, plone_client_count+1) %} -p {{ supervisor_instance_name or '' }}zeoclient{{ client }}={{ plone_client_max_memory }}{% endfor %} -c -m root
events=TICK_60
{% endif %}
